{% extends 'base.html.twig' %}

{% block title %}Bienvenue !{% endblock %}

{% block body %}

<div class="row">

    {% for article in articles %}

    <div class="col-sm-6">
        <div class="card">
        <div class="card-body">
            <h5 class="card-title text-center">{{article.title}}</h5>
            <div class="text-center">
                <img class="img-fluid img-thumbnail" src="{{  asset('image_directory/' ~ article.image ~ '')}}">
            </div>
            <p class="card-text">{{article.description}}</p>
            <p>Créé le : {{article.createdAt|date("m/d/Y")}}</p>
            <p>Par {{article.author.firstname}} {{article.author.lastname}}</p>
            <p>Catégorie :</p>
            {% for category in article.category %}

                <a class="badge bg-primary" href="{{path('app_category_show', {'id': category.id}) }}">{{category.label}}</a>

            {% endfor %}
            <br>
            <br>
            <a href="{{path('app_article_show', {'id': article.id}) }}" class="btn btn-primary">Lire</a>
        </div>
        </div>
    </div>

    {% endfor %}
    
</div>

{% endblock %}
