{% extends 'base.html.twig' %}

{% block title %}Catégorie{% endblock %}

{% block body %}

    <h1>Catégorie {{category.label}}</h1>

    {% for article in category.articles %}

        <div class="card">
            <h3>{{article.title}}</h3>
            <p>{{article.description}}</p>
            <p>Par {{article.author.firstname}} {{article.author.lastname}}</p>
            <a href="{{ path('app_article_show', {'id': article.id}) }}">Lire</a>
        </div>

    {% endfor %}

    <br>

    <a href="{{ path('app_category_index') }}">Revenir à la liste</a>

    {% if is_granted ('ROLE_ADMIN') %}
        <a href="{{ path('app_category_edit', {'id': category.id}) }}">Modifier</a>
    {% endif %}

{% endblock %}
